<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container"><h1>Photo time Capsule</h1></div>
    <div class="container">
      
      <form  enctype="multipart/form-data" id="uploadForm">
        <label for="fileHolder">Enter A picture to store</label>
        <input
        type="file"
        id="fileHolder"
        name="fileHolder"
        accept="img/png, img/jpeg"
      />
      <button>send</button>
    </form>
      
    </div>
